
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/bootstrap-select.min.css">
    <link rel="stylesheet" href="../stylesheets/dataTables.bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/AdminLTE.min.css" >
    <link rel="stylesheet" href="../stylesheets/_all-skins.min.css">
    <link rel="stylesheet" href="../stylesheets/fileUpload.css">
    <link rel="stylesheet" href="../stylesheets/toastr.min.css">
    <script src="../javascripts/jquery-2.1.4.min.js"></script>
    <script src="../javascripts/jquery-ui.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/bootstrap-select.js"></script>  
    <script src="../javascripts/jquery.fileupload.js"></script>
    <script src="../javascripts/app.min.js"></script>
<style>
	body{
		font-family:"微软雅黑"
	}
	a{
		font-family:"微软雅黑"
	}
	div{
		font-family:"微软雅黑"
	}
	span{
			font-family:"微软雅黑"
	}
	input{
			font-family:"微软雅黑"
	}
	h3{
			font-family:"微软雅黑"
	}
	table{
			font-family:"微软雅黑";
			font-size:13px;
	}
</style>