<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">菜单</li>
        <li class="active"><a href="/task"><i class="fa fa-pencil-square-o"></i>&nbsp;下载方案管理</a></li>
        <li><a href="/map"><i class="fa fa-car"></i>&nbsp;地图切片制作</a></li>
        <li>
       	<a href="#" class="custommenu">
       		<i class="fa fa-cog"></i>
	        <span>系统管理</span>
			<i class="fa fa-angle-right pull-right"></i>
	    </a>
		<ul class="treeview-menu">
            <li><a href="/userManager"><i class="fa fa-user-circle"></i>用户管理</a></li>
            <li><a href="#"><i class="fa fa-sitemap"></i>多源数据管理</a></li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>